player-connection-mode=Connect
player-connection-guid=3082979840
player-connection-debug=0
player-connection-project-name=Pendulambs
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.188
profiler-enable=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
build-guid=10ee5573e8f941b199613952289cb162
